.sideBar {
    background-color: slateblue;
}


.sideBar a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.navBar {
    margin: 10px;
}

.sideBar a.activeLink {
    color: lightcoral;
}
