.formControl.error textarea,
.formControl.error input {
    border: 4px solid red;
}

.errorWhat {
    color: red;
}

.formControl.commonError {
    padding: 5px;
    border: 1px solid red;
    color: indigo;
}