.WrapperApp {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;

    grid-template-areas:
          "hdr hdr"
          "sbr ctb";


}


.WrapperContent {
    border: 2px solid chartreuse;
    grid-area: ctb;
    background-color: gray;
    color: chartreuse;
}


.Active {
    color: red;
}