.App {
  display: grid;
  grid-template-areas: 
    "h h"
    "s c"
  ;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

/* Псевдонимы для названий классов */
.header {
  grid-area: h;
}

.sidebar {
  grid-area: s;
}

.content {
  grid-area: c;
}