.profilePict {
    width: 1000px;
    height: 500px;
}

.avatarDesc {
    margin: 10px;
}

.avatarDesc b {
    color: indigo;
}

.descriptionTitleInfo {
    text-decoration: underline;
    color: pink;
    font-size: 20px;
}

.editModeButton {
    margin: 0 5px;
}

.descriptionInfo {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-size: 22px;
}